*{
	box-sizing: border-box;
}
html {
  font-size: 16px;
  //@include susy-breakpoint($bp-xlarge){
  @include susy-breakpoint($bp-xlarge){
    font-size: 24px;
  }
}
body{
	color: #232323;
	font-family: 'Playfair Display', serif; 
}

.no-bg{
	[class*="default-"]{
		background: none;
		&:nth-child(even){
			background: none;	
		}
	}
}

[class*="default-"]{
	@include rem(min-height, 6rem);
	background: rgba(blue, 0.1);
	margin-bottom: 1.5rem;
	line-height: 1.5rem;
	font-size: 12px;
	&:nth-child(even){
		background: rgba(red, 0.1);	
	}
}

// ========= TYPHORAPHY ========== 
// see ../utils/_typography.scss
// ===============================

h1{ @extend %h1; }
h2{ @extend %h2; }
h3{ @extend %h3; }
h4{ @extend %h4; }

hr{
	border-top: none;
	border-bottom: 1px solid rgba(black, 0.2);
}

.table-container{
	overflow-x: auto;
}

table{
	width: 100%;
}
th{
	@include remunit(padding, 0.5*$default-line-height);
	background: #f0f0f0;
	text-transform: uppercase;
	text-align: left;
}
td{
	@include remunit(padding, 0.5*$default-line-height);
}
tr{
	&:nth-child(even){
		td { background: #f5f5f5; }
	}
}

.text-align-center{
	text-align: center;
}

form{
	> label{
		//@include rem(margin-bottom, $default-line-height);
		display: block;
		> span{
			@include remunit((
				font-size: mspow(0)/1.15,
				line-height: $default-line-height
			));
			//@warn "$rem-baseline: " + $rem-baseline;
			display: block;
		}
		input[type='text'], input[type='email'], input[type='password']{
			@include remunit((
				height: 2rem,
				padding: 0.5*$default-line-height,
				margin-bottom: 1rem,
				font-size: mspow(0)/1.15
			));
			border: 1px solid #ccc;
			width: 100%; 
		}
		textarea{
			@include remunit((
				height: 5rem,
				padding: 0.5*$default-line-height,
				margin-bottom: 1rem
			));
			border: 1px solid #ccc;
			width: 100%;
			display: block; 
		}
		ul{
			@include remunit(font-size, mspow(0)/1.15);
			margin-top: 0;
			list-style: none;
			padding: 0;
		}
		input[type='radio'], input[type='checkbox']{
			margin-right: 10px;
		}
	}
}

img{
	max-width: 100%;
}

figure{
	margin: 0;
	img{
		display: block;
		@include rem((margin: $default-line-height 0));
	}
}
figcaption{
	@extend %small;
	font-style: italic;
	&:before{
		content:"\2014 \00a0";
	}
}

.button{
	@include inline-block;
	border: none;
	background: tomato;
	color: #fff;
	text-decoration: none;
	@include rem((
		padding: 0.25*$default-line-height $default-line-height,
		margin: 0.25*$default-line-height
	));
	&:hover{
		background: darkgrey;
	}
	&.button--big{
		$var-size: 1;
		@include rem((
			font-size: ms($var-size)/1.2,
			line-height: $var-size*$default-line-height,
			padding: 0.5*$default-line-height $default-line-height,
			margin: 0.5*$default-line-height
		));
	}
	&.button--expand{
		display: block;
		width: 100%;
		text-align: center;
	}
}