*{
	box-sizing: border-box;
}
html {
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	font-size: 16px;
	@include susy-breakpoint($bp-small){
		font-size: 10px;
	}
	@include susy-breakpoint($bp-xxlarge){
		font-size: 24px;
	}
}

body{
	font-family: $f-sourcesanpro; 
	overflow-x: hidden;
}

hr{
	border-top: none;
	border-bottom: 1px solid rgba(black, 0.2);
}

pre code.hljs{
	@include remunit(padding, 1.5rem);
	white-space: normal;
	overflow: hidden;
}

