extends layouts/default

block content
  .row
    - for (var i = 0; i < 12; i++) {
      div(class='default-1 small-12 medium-6') .default-1 <br> .small-12 <br> .medium-6
    - }

    - for (var i = 0; i < 6; i++) {
      div(class='default-2') .default-2
    - }

    - for (var i = 0; i < 4; i++) {
      div(class='default-3') .default-3
    - }

    - for (var i = 0; i < 3; i++) {
      div(class='default-4') .default-4
    - }

    - for (var i = 0; i < 2; i++) {
      div(class='default-6') .default-6
    - }

    - for (var i = 0; i < 1; i++) {
      div(class='default-12') .default-12
    - }

  .row
    .default-8.nest
      .default-5 .default-5 NEST
      .default-3.last .default-3 NEST LAST
  .row
    .default-6.center-block .default.6 CENTER
  