extends layouts/grid-layout

block content
  h1.text-align-center ≈ Lieur § Starter ≈
  .row.no-bg
    h1#typography Typography
    .default-6
      p
        | Lorem ipsum dolor sit amet, consectetuer adipiscing 
        | elit. Aenean commodo ligula eget dolor. Aenean massa 
        strong strong 
        | felis eu pede 
        a.external.ext(href='#') link 
        | mollis pretium. Integer tincidunt. Cras dapibus.
        | Vivamus elementum semper nisi. Aenean vulputat.
      h2 Aenean commodo ligula eget dolor aenean massa
      h3
        | Cum sociis natoque penatibus et magnis dis
        | parturient montes nascetur ridiculus mus
      p
        | Lorem ipsum dolor sit amet, consectetuer adipiscing
        | elit. Aenean commodo ligula eget dolor. Aenean massa.
        | Cum sociis natoque penatibus et magnis dis parturient
        | montes, nascetur ridiculus mus. Donec quam felis,
        | ultricies nec, pellentesque eu, pretium quis, sem.
      h1
        | Lorem ipsum dolor sit amet consectetuer adipiscing
        | elit
      h4
        | Donec quam felis ultricies nec pellentesque eu
        | pretium quis sem nlla consequat massa quis enim
      ul
        li Lorem ipsum dolor sit amet consectetuer.
        li Aenean commodo ligula eget dolor.
        li Aenean massa cum sociis natoque penatibus.
      p
        | Lorem ipsum dolor sit amet, consectetuer adipiscing
        | elit. Aenean commodo ligula eget dolor. Aenean massa.
        | Cum sociis natoque penatibus et magnis dis parturient
        | montes, nascetur ridiculus mus. Donec quam felis,
        | ultricies nec, pellentesque eu, pretium quis, sem.

      h3#button Button
      a(href='#').button Button
      a(href='#').button.button--big Button Big
      br
      a(href='#').button.button--expand Button Expand
      a(href='#').button.button--var Button
    .default-6
      h3#table Table
      .table-container
        table
          thead
            tr
              th Head 1
              th Head 2
              th Head 3
          tbody
            tr
              td Your content
              td Yes, it's true
              td No, you are not
            tr
              td Your content
              td Yes, it's true
              td No, you are not
            tr
              td Your content
              td Yes, it's true
              td No, you are not
            tr
              td Your content
              td Yes, it's true
              td No, you are not
            tr
              td Your content
              td Yes, it's true
              td No, you are not
            tr
              td Your content
              td Yes, it's true
              td No, you are not

      h3#form Form
      form(action='#')
        label
          span First Name:
          input(type='text', placeholder='Please fill this field')
        label
          span Last Name:
          input(type='text', placeholder='Please fill this field')
        label
          span Address:
          textarea
        label
          span Sex:
          ul
            li
              label
                input(type='radio', name='sex') 
                | Male
            li
              label
                input(type='radio', name='sex') 
                | Female
            li
              label
                input(type='radio', name='sex') 
                | Both
        label
          span Favorite Food:
          ul
            li
              label
                input(type='checkbox') 
                | Nasi Goreng
            li
              label
                input(type='checkbox') 
                | Pecel
            li
              label
                input(type='checkbox') 
                | Soto Madura

      h3#figure Figure
      figure
        img(src='http://placecage.com/gif/480/240', alt='Placeholder Image')
        figcaption
          | A cheeky macaque, Lower Kintaganban River, Borneo. Original by 
          a(href='http://www.flickr.com/photos/rclark/') Richard Clark


  .row
    h1#grid Grid
    - for (var i = 0; i < 12; i++) {
      div(class='default-1 small-12 medium-6') .default-1 <br> .small-12 <br> .medium-6
    - }

    - for (var i = 0; i < 6; i++) {
      div(class='default-2') .default-2
    - }

    - for (var i = 0; i < 4; i++) {
      div(class='default-3') .default-3
    - }

    - for (var i = 0; i < 3; i++) {
      div(class='default-4') .default-4
    - }

    - for (var i = 0; i < 2; i++) {
      div(class='default-6') .default-6
    - }

    - for (var i = 0; i < 1; i++) {
      div(class='default-12') .default-12
    - }

  .row
    .default-8.nest
      .default-5 .default-5 NEST
      .default-3.last .default-3 NEST LAST
  .row
    .default-6.center-block .default.6 CENTER
  