/*--------------------------------------------
	GRID AND BREAKPOINT CONFIGURATION
	using Susy FTW!
*--------------------------------------------*/

/* SUSY SETUP */
$susy-col: (
	default: 12,
	small: 4
);

$sc-default: map-get($susy-col, default);
$sc-small: map-get($susy-col, small);

$susy: (
	columns: $sc-default,
	column-width: 68px,
	gutters: 30px/68px,
	container: 1140px,
	gutter-position: inside-static,
	box-sizing: border-box,
	debug: (
        image: show,    
        output: overlay,
        toggle: top right
    )
);
